openapi: 3.0.0
info:
  title: Open Referral API
  description: This is a specification describing the Open Referral API, using the Human Services Specification. This has been extracted from the Ohana API deployment, but will be standardized to refer to the universal standard that will apply to any Open Referral compliant API.
  contact:
    name: Open Referral
    url: https://openreferral.org/
    email: info@openreferral.org
  version: 'v1.1'
servers:
- url: http://api.open.referral.adopta.agency/
  variables: {}
paths:
  /contacts/:
    get:
      tags:
      - Contacts
      summary: listContacts
      description: Get Contacts
      operationId: ListContacts
      parameters:
      - name: query
        in: query
        description: A query to filter list by.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page
        in: query
        description: The particular page of results.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: per_page
        in: query
        description: Amount of locations to return per page, up to 100.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Contacts
      summary: addContact
      description: Add contact
      operationId: AddContact
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: false
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /contacts/{contact_id}/:
    get:
      tags:
      - Contacts
      summary: getContact
      description: Get Contact
      operationId: GetContact
      parameters:
      - name: contact_id
        in: path
        description: The contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Contacts
      summary: updateContact
      description: Update an existing contact.
      operationId: UpdateContact
      parameters:
      - name: contact_id
        in: path
        description: The contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: false
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Contacts
      summary: deleteContact
      description: Delete Contact
      operationId: DeleteContact
      parameters:
      - name: contact_id
        in: path
        description: The contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /contacts/{contact_id}/phones/:
    get:
      tags:
      - Contacts
      summary: listContactPhones
      description: Get Phones
      operationId: ListContactPhones
      parameters:
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Contacts
      summary: addContactPhone
      description: Add Phone
      operationId: AddContactPhone
      parameters:
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /contacts/{contact_id}/phones/{phone_id}/:
    get:
      tags:
      - Contacts
      summary: getContactPhone
      description: get Phone
      operationId: GetContactPhone
      parameters:
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Contacts
      summary: updateContactPhone
      description: Update Phone
      operationId: UpdateContactPhone
      parameters:
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Contacts
      summary: deleteContactPhone
      description: Delete Phone
      operationId: DeleteContactPhone
      parameters:
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/:
    get:
      tags:
      - Locations
      summary: listLocations
      description: Get Locations
      operationId: ListLocations
      parameters:
      - name: query
        in: query
        description: A query to filter result by.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page
        in: query
        description: The particular page of results.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: per_page
        in: query
        description: Amount of locations to return per page, up to 100.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocation
      description: Add Location
      operationId: AddLocation
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/location'
        required: false
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/:
    get:
      tags:
      - Locations
      summary: getLocation
      description: Get Location
      operationId: GetLocation
      parameters:
      - name: location_id
        in: path
        description: The location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocation
      description: Update Location
      operationId: UpdateLocation
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/location'
        required: false
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocation
      description: Delete Location
      operationId: DeleteLocation
      parameters:
      - name: location_id
        in: path
        description: The location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/holiday-schedule/:
    get:
      tags:
      - Locations
      summary: listLocationHolidaySchedules
      description: Get Holiday Schedule
      operationId: ListLocationHolidaySchedules
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Holiday Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holiday_schedule'
                description: Holiday Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationHolidaySchedule
      description: Add Holiday Schedule
      operationId: AddLocationHolidaySchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/holiday_schedule'
        required: false
      responses:
        200:
          description: Holiday Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holiday_schedule'
                description: Holiday Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/holiday-schedule/{holiday_schedule_id}/:
    get:
      tags:
      - Locations
      summary: getLocationHolidaySchedule
      description: Get Holiday Schedule
      operationId: GetLocationHolidaySchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: holiday_schedule_id
        in: path
        description: The unique holiday schedule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Holiday Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holiday_schedule'
                description: Holiday Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationHolidaySchedule
      description: Update Holiday Schedule
      operationId: UpdateLocationHolidaySchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: holiday_schedule_id
        in: path
        description: The unique holiday schedule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/holiday_schedule'
        required: false
      responses:
        200:
          description: Holiday Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holiday_schedule'
                description: Holiday Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationHolidaySchedule
      description: Delete Holiday Schedule
      operationId: DeleteLocationHolidaySchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: holiday_schedule_id
        in: path
        description: The unique holiday schdule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Holiday Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/holiday_schedule'
                description: Holiday Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/languages/:
    get:
      tags:
      - Locations
      summary: listLocationLanguages
      description: Get Languages
      operationId: ListLocationLanguages
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Language Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
                description: Language Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationLanguages
      description: Add Languages
      operationId: AddLocationLanguages
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/language'
        required: false
      responses:
        200:
          description: Language Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
                description: Language Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/languages/{language_id}/:
    get:
      tags:
      - Locations
      summary: getLocationLanguages
      description: Get Languages
      operationId: GetLocationLanguages
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: language_id
        in: path
        description: The unique language id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Language Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
                description: Language Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationLanguages
      description: Update Languages
      operationId: UpdateLocationLanguages
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: language_id
        in: path
        description: The unique language id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/language'
        required: false
      responses:
        200:
          description: Language Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
                description: Language Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationLanguages
      description: Delete Languages
      operationId: DeleteLocationLanguages
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: language_id
        in: path
        description: The unique language id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Language Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
                description: Language Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/postal-address/:
    get:
      tags:
      - Locations
      summary: listLocationPostalAddresses
      description: Get Postal Addresses
      operationId: ListLocationPostalAddresses
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationPostalAddress
      description: Add Postal Adress
      operationId: AddLocationPostalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postal_address'
        required: false
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/postal-address/{postal_address_id}/:
    get:
      tags:
      - Locations
      summary: getLocationPostalAddress
      description: Get Postal Address
      operationId: GetLocationPostalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationPostalAddress
      description: Postal Mailing Address
      operationId: UpdateLocationPostalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postal_address'
        required: false
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationPostalAddress
      description: Delete Postal Address
      operationId: DeleteLocationPostalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/physical-address/:
    get:
      tags:
      - Locations
      summary: listLocationPhysicalAddresses
      description: Get Physical Address
      operationId: ListLocationPhysicalAddresses
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationPhysicalAddress
      description: Add Physical Adress
      operationId: AddLocationPhysicalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postal_address'
        required: false
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/physical-address/{postal_address_id}/:
    get:
      tags:
      - Locations
      summary: getLocationPhysicalAddress
      description: Get Physical Address
      operationId: GetLocationPhysicalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationPhysicalAddress
      description: Postal Physical Address
      operationId: UpdateLocationPhysicalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postal_address'
        required: false
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationPhysicalAddress
      description: Delete Physical Address
      operationId: DeleteLocationPhysicalAddress
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: postal_address_id
        in: path
        description: The unique postal address id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Postal Address Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/postal_address'
                description: Postal Address Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/phones/:
    get:
      tags:
      - Locations
      summary: listLocationPhones
      description: Get Phones
      operationId: ListLocationPhones
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationPhone
      description: Add Phone
      operationId: AddLocationPhone
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/phones/{phone_id}/:
    get:
      tags:
      - Locations
      summary: getLocationPhone
      description: get Phone
      operationId: GetLocationPhone
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationPhone
      description: Update Phone
      operationId: UpdateLocationPhone
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationPhone
      description: Delete Phone
      operationId: DeleteLocationPhone
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/regular-schedule/:
    get:
      tags:
      - Locations
      summary: listLocationRegularSchedules
      description: Get Regular Schedules
      operationId: ListLocationRegularSchedules
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Regular Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/regular_schedule'
                description: Regular Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationRegularSchedule
      description: Add Regular Schedule
      operationId: AddLocationRegularSchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regular_schedule'
        required: false
      responses:
        200:
          description: Regular Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/regular_schedule'
                description: Regular Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/regular-schedule/{regular_schedule_id}/:
    get:
      tags:
      - Locations
      summary: getLocationRegularSchedule
      description: Get Regular Schedule
      operationId: GetLocationRegularSchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: regular_schedule_id
        in: path
        description: The unique regular schedule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Regular Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/regular_schedule'
                description: Regular Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationRegularSchedule
      description: Update Regular Schedule
      operationId: UpdateLocationRegularSchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: regular_schedule_id
        in: path
        description: The unique regular schedule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/regular_schedule'
        required: false
      responses:
        200:
          description: Regular Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/regular_schedule'
                description: Regular Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationRegularSchedule
      description: Delete Regular Schedule
      operationId: DeleteLocationRegularSchedule
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: regular_schedule_id
        in: path
        description: The unique regular schedule id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Regular Schedule Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/regular_schedule'
                description: Regular Schedule Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/services/:
    get:
      tags:
      - Locations
      summary: listLocationServices
      description: Get Services
      operationId: ListLocationServices
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationService
      description: Add Service
      operationId: AddLocationService
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/services/{service_id}/:
    get:
      tags:
      - Locations
      summary: getLocationService
      description: Get Service
      operationId: GetLocationService
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationService
      description: Update Service
      operationId: UpdateLocationService
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationService
      description: Delete Service
      operationId: DeleteLocationService
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/accessibility/:
    get:
      tags:
      - Locations
      summary: listLocationAccessibilityForDisabilities
      description: Get Accessibility For Disabilities
      operationId: ListLocationAccessibilityForDisabilities
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Accessibility For Disabilities Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accessibility_for_disabilities'
                description: Accessibility For Disabilities Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Locations
      summary: addLocationAccessibilityForDisabilities
      description: Add Accessibility For Disabilities
      operationId: AddLocationAccessibilityForDisabilities
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accessibility_for_disabilities'
        required: false
      responses:
        200:
          description: Accessibility For Disabilities Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accessibility_for_disabilities'
                description: Accessibility For Disabilities Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /locations/{location_id}/accessibility/{accessibility_id}/:
    get:
      tags:
      - Locations
      summary: getLocationAccessibilityForDisabilities
      description: Get Accessibility For Disabilities
      operationId: GetLocationAccessibilityForDisabilities
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: accessibility_id
        in: path
        description: The unique accessibility for disabilities id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Accessibility For Disabilities Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accessibility_for_disabilities'
                description: Accessibility For Disabilities Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Locations
      summary: updateLocationAccessibilityForDisabilities
      description: Update Accessibility For Disabilities
      operationId: UpdateLocationAccessibilityForDisabilities
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: accessibility_id
        in: path
        description: The unique accessibility for disabilities id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accessibility_for_disabilities'
        required: false
      responses:
        200:
          description: Accessibility For Disabilities Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accessibility_for_disabilities'
                description: Accessibility For Disabilities Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Locations
      summary: deleteLocationAccessibilityForDisabilities
      description: Delete Accessibility For Disabilities
      operationId: DeleteLocationAccessibilityForDisabilities
      parameters:
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: accessibility_id
        in: path
        description: The unique accessibility for disabilities id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Accessibility For Disabilities Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/accessibility_for_disabilities'
                description: Accessibility For Disabilities Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/:
    get:
      tags:
      - Organizations
      summary: listOrganizations
      description: Get Organizations
      operationId: ListOrganizations
      parameters:
      - name: query
        in: query
        description: A query to filter result by.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page
        in: query
        description: The particular page of results.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: per_page
        in: query
        description: Amount of locations to return per page, up to 100.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganization
      description: Addorganization
      operationId: AddOrganization
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organization'
        required: false
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganization
      description: Get Organization
      operationId: GetOrganization
      parameters:
      - name: organization_id
        in: path
        description: The organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganization
      description: Update Organization
      operationId: UpdateOrganization
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organization'
        required: false
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganization
      description: Delete Organization
      operationId: DeleteOrganization
      parameters:
      - name: organization_id
        in: path
        description: The organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/contacts/:
    get:
      tags:
      - Organizations
      summary: listOrganizationContacts
      description: Get Contacts
      operationId: ListOrganizationContacts
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationContact
      description: Add Contact
      operationId: AddOrganizationContact
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: false
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/contacts/{contact_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationContact
      description: Get Contact
      operationId: GetOrganizationContact
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationContact
      description: Update Contact
      operationId: UpdateOrganizationContact
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: false
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationContact
      description: Delete Contact
      operationId: DeleteOrganizationContact
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: contact_id
        in: path
        description: The unique contact id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Contact Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
                description: Contact Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/funding/:
    get:
      tags:
      - Organizations
      summary: listOrganizationFundings
      description: Get Fundings
      operationId: ListOrganizationFundings
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Funding Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/funding'
                description: Funding Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationFunding
      description: Add Funding
      operationId: AddOrganizationFunding
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/funding'
        required: false
      responses:
        200:
          description: Funding Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/funding'
                description: Funding Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/funding/{funding_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationFunding
      description: Get Funding
      operationId: GetOrganizationFunding
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: funding_id
        in: path
        description: The unique funding id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Funding Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/funding'
                description: Funding Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationFunding
      description: Update Funding
      operationId: UpdateOrganizationFunding
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: funding_id
        in: path
        description: The unique funding id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/funding'
        required: false
      responses:
        200:
          description: Funding Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/funding'
                description: Funding Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationFunding
      description: Delete Funding
      operationId: DeleteOrganizationFunding
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: funding_id
        in: path
        description: The unique funding id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Funding Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/funding'
                description: Funding Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/locations/:
    get:
      tags:
      - Organizations
      summary: listOrganizationLocations
      description: Get Location
      operationId: ListOrganizationLocations
      parameters:
      - name: organization_id
        in: path
        description: The id for the organization.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationLocation
      description: Add location
      operationId: AddOrganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/location'
        required: false
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/locations/{location_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationLocation
      description: Get Location
      operationId: GetOrganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationLocation
      description: Update location
      operationId: UpdateOrganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/location'
        required: false
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationLocation
      description: Delete Location
      operationId: DeleteOrganizationLocation
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: location_id
        in: path
        description: The unique location id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Location Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Location Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/phones/:
    get:
      tags:
      - Organizations
      summary: listOrganizationPhones
      description: Get Phones
      operationId: ListOrganizationPhones
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationPhone
      description: Add Phone
      operationId: AddOrganizationPhone
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/phones/{phone_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationPhone
      description: get Phone
      operationId: GetOrganizationPhone
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationPhone
      description: Update Phone
      operationId: UpdateOrganizationPhone
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phone'
        required: false
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationPhone
      description: Delete Phone
      operationId: DeleteOrganizationPhone
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phone_id
        in: path
        description: The unique phone id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Phone Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/phone'
                description: Phone Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/programs/:
    get:
      tags:
      - Organizations
      summary: listOrganizationPrograms
      description: Get Programs
      operationId: ListOrganizationPrograms
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Program Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/program'
                description: Program Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationProgram
      description: Add Program
      operationId: AddOrganizationProgram
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/program'
        required: false
      responses:
        200:
          description: Program Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/program'
                description: Program Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/programs/{program_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationProgram
      description: Get Program
      operationId: GetOrganizationProgram
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Program Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/program'
                description: Program Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationProgram
      description: Update Program
      operationId: UpdateOrganizationProgram
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/program'
        required: false
      responses:
        200:
          description: Program Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/program'
                description: Program Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationProgram
      description: Delete Program
      operationId: DeleteOrganizationProgram
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Program Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/program'
                description: Program Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/programs/{program_id}/services/:
    get:
      tags:
      - Organizations
      summary: listProgramServices
      description: Get Service
      operationId: ListProgramServices
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addProgramService
      description: Add Service
      operationId: AddProgramService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/programs/{program_id}/services/{service_id}/:
    get:
      tags:
      - Organizations
      summary: getProgramService
      description: Get Service
      operationId: GetProgramService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateProgramService
      description: Update Service
      operationId: UpdateProgramService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteProgramService
      description: Delete Service
      operationId: DeleteProgramService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: program_id
        in: path
        description: The unique program id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/services/:
    get:
      tags:
      - Organizations
      summary: listOrganizationServices
      description: Get Services
      operationId: ListOrganizationServices
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Organizations
      summary: addOrganizationService
      description: Add Service
      operationId: AddOrganizationService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /organizations/{organization_id}/services/{service_id}/:
    get:
      tags:
      - Organizations
      summary: getOrganizationService
      description: Get Service
      operationId: GetOrganizationService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Organizations
      summary: updateOrganizationService
      description: Update Service
      operationId: UpdateOrganizationService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Organizations
      summary: deleteOrganizationService
      description: Delete Service
      operationId: DeleteOrganizationService
      parameters:
      - name: organization_id
        in: path
        description: The unique organization id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /search/:
    get:
      tags:
      - Search
      summary: search
      description: Search
      operationId: Search
      parameters:
      - name: category
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: keyword
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: language
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: lat_lng
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: location
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: org_name
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: per_page
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: radius
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: service_area
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: ''
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Successful SSearch
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
                description: Successful SSearch
      deprecated: false
      security:
      - appid: []
        appkey: []
  /services/:
    get:
      tags:
      - Services
      summary: listServices
      description: Get Services
      operationId: ListServices
      parameters:
      - name: query
        in: query
        description: A query to filter result by.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: page
        in: query
        description: The particular page of results.
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: per_page
        in: query
        description: Amount of locations to return per page, up to 100.
        style: form
        explode: true
        schema:
          type: number
          format: double
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    post:
      tags:
      - Services
      summary: addService
      description: Add Service
      operationId: AddService
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
  /services/{service_id}/:
    get:
      tags:
      - Services
      summary: getService
      description: Get Service
      operationId: GetService
      parameters:
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Organization Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organization'
                description: Organization Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    put:
      tags:
      - Services
      summary: updateService
      description: Update Service
      operationId: UpdateService
      parameters:
      - name: service_id
        in: path
        description: The unique service id.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
        required: false
      responses:
        200:
          description: Service Response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service'
                description: Service Response
      deprecated: false
      security:
      - appid: []
        appkey: []
    delete:
      tags:
      - Services
[...]
