<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.repo }}images/favicon.ico">

    <title>Working</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.repo }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.repo }}css/dashboard.css" rel="stylesheet">
    <link href="{{ site.repo }}css/quill.snow.css" rel="stylesheet">

    <link href="{{ site.repo }}css/introjs.css" rel="stylesheet">

    <script src="{{ site.repo }}javascript/quill.js"></script>
    <script src="{{ site.repo }}javascript/js-yaml.js"></script>

    <style type="text/css">
    #addModal {
    	width: 900px; /* SET THE WIDTH OF THE MODAL */
    	margin: 4% 0 0 20%; /* CHANGE MARGINS TO ACCOMMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
    }
    #editModal {
    	width: 900px; /* SET THE WIDTH OF THE MODAL */
    	margin: 4% 0 0 20%; /* CHANGE MARGINS TO ACCOMMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
    }
    </style>

    <script src="{{ site.repo }}javascript/jquery-3.3.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ site.repo }}javascript/popper.min.js"></script>
    <script src="{{ site.repo }}javascript/bootstrap.min.js"></script>

    <script src="{{ site.repo }}javascript/intro.js"></script>

  </head>
